<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-xs-6">
        <a href="/" class="logo"><img src="img/logo.png" alt="Hosting"> Hosting</a>
        <p class="copyright">2015 © Allright Reserved</p>
      </div>

      <div class="col-md-3 col-md-push-6 col-xs-6 social">
        <p class="title">Social media</p>

        <a href="#"><span>Facebook</span></a>
        <a href="#"><span>Twitter</span></a>
        <a href="#"><span>LinkedIn</span></a>
        <a href="#"><span>Google plus</span></a>
      </div>

      <div class="col-md-3 col-md-pull-3 col-xs-6 links">
        <p class="title">Quick links</p>

        <div class="row">
          <div class="col-xs-6">
            <span><a href="#">Home</a></span>
            <span><a href="#">About Us</a></span>
            <span><a href="#">Service</a></span>
            <span><a href="#">Hosting plans</a></span>
            <span><a href="#">Domains</a></span>
          </div>

          <div class="col-xs-6">
            <span><a href="#">Faq</a></span>
            <span><a href="#">Blog</a></span>
            <span><a href="#">Support</a></span>
            <span><a href="#">Contact</a></span>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-md-pull-3 col-xs-6 contacts">
        <p class="title">Contact us</p>

        <p><span>Address:</span> 9867 lipsum text here</p>
        <p>There are many variations</p>
        <p><span>Email:</span> info@hosting.com</p>
        <p><span>Call:</span> +87 7765 557 888</p>
      </div>
    </div>
  </div>
</footer>