<div class="features">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-5 col-sm-6 action">
        <p class="title">
          Now
          <span>What is hot</span>
        </p>
        <div class="block">
          <div class="inner">
            <p>get up to <span>50%</span></p>

            <p>off</p>

            <p>each <span>hosting</span></p>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-7 col-sm-6 right">
        <p class="title">
          our
          <span>features</span>
        </p>

        <div class="row">
          <div class="col-lg-5">
            <ul>
              <li>Lorem Ipsum is simply dummy.</li>
              <li>Discovered the undoubtable.</li>
              <li>Various versions have evolved.</li>
              <li>Suffered alteration in some.</li>
            </ul>
          </div>
          <div class="col-lg-4">
            <ul>
              <li>Specimen book.</li>
              <li>Lpsum generators.</li>
              <li>Sentence structures.</li>
              <li>Embarrassing hidden.</li>
            </ul>
          </div>
          <div class="col-lg-3">
            <a class="button" href="#">View all</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>