<div class="main-info">
  <div class="container">
    <p class="title">
      Our
      <span>benefits</span>
    </p>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="item">
          <p class="subtitle">99.9% Uptime</p>

          <div class="desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="item">
          <p class="subtitle">24/7/365 Support</p>

          <div class="desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="item">
          <p class="subtitle">protect your pc</p>

          <div class="desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="item">
          <p class="subtitle">DNS control</p>

          <div class="desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="item">
          <p class="subtitle">domain transfer</p>

          <div class="desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="item">
          <p class="subtitle">100% security</p>

          <div class="desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</div>
        </div>
      </div>
    </div>
  </div>
</div>