<div class="price-main">
  <div class="container">
    <p class="title">
      Our
      <span>Hosting</span>
    </p>

    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="item">
          <p class="price"><span>$</span>5 <span>per month</span></p>

          <div class="title">Standard plan</div>

          <ul class="info">
            <li>10GB Disk Space</li>
            <li>1TB Bandwidth</li>
            <li>Free DDoS Protection</li>
            <li>Free Daily Backups</li>
            <li>Managed Hosting</li>
          </ul>

          <a href="#" class="button">Signup</a>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="item">
          <p class="price"><span>$</span>6 <span>per month</span></p>

          <div class="title">Advanced plan</div>

          <ul class="info">
            <li>10GB Disk Space</li>
            <li>1TB Bandwidth</li>
            <li>Free DDoS Protection</li>
            <li>Free Daily Backups</li>
            <li>Managed Hosting</li>
          </ul>

          <a href="#" class="button">Signup</a>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="item">
          <p class="price"><span>$</span>8 <span>per month</span></p>

          <div class="title">Business plan</div>

          <ul class="info">
            <li>10GB Disk Space</li>
            <li>1TB Bandwidth</li>
            <li>Free DDoS Protection</li>
            <li>Free Daily Backups</li>
            <li>Managed Hosting</li>
          </ul>

          <a href="#" class="button">Signup</a>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="item">
          <p class="price"><span>$</span>9 <span>per month</span></p>

          <div class="title">Gold plan</div>

          <ul class="info">
            <li>10GB Disk Space</li>
            <li>1TB Bandwidth</li>
            <li>Free DDoS Protection</li>
            <li>Free Daily Backups</li>
            <li>Managed Hosting</li>
          </ul>

          <a href="#" class="button">Signup</a>
        </div>
      </div>
    </div>
  </div>
</div>