<div class="search">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <p class="title">
          Search your
          <span>Domain</span>
        </p>
      </div>
      <div class="col-md-10">
        <form action="/">
          <input class="name" name="domain" type="text" placeholder="Enter your domain name">
          <select name="date" class="date">
            <option value="1">Year (0-1 year)</option>
            <option value="2">Year (1-2 year)</option>
            <option value="3">Year (2-3 year)</option>
          </select>
          <select name="type" class="type">
            <option value="ru">ru</option>
            <option value="ru">com</option>
            <option value="ru">org</option>
            <option value="ru">net</option>
            <option value="ru">ua</option>
          </select>
          <input class="button" type="submit" value="Search">
        </form>
      </div>
    </div>
  </div>
</div>